/* RESET */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f0f0f; /* fundo bem escuro */
  color: #f5f5f5;
}

/* HEADER */
header {
  background-color: #5a0f1c; /* bordô */
  color: #d4af37; /* dourado */
  text-align: center;
  padding: 25px;
}
 

header h1 {
  margin: 0;
  color:
}

/* NAV */
nav {
  background-color: #3b0a13; /* bordô mais escuro */
  text-align: center;
  padding: 12px;
}

nav a {
  color: #d4af37; /* dourado */
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: white;
}

/* MAIN */
main {
  max-width: 1000px;
  margin: auto;
  padding: 15px;
}

/* CONTEÚDO */
.conteudo {
  float: left;
  width: 70%;
}

/* NOTÍCIA */
.noticia {
  background-color: #1a1a1a;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #5a0f1c;
  box-shadow: 0 0 10px rgba(212, 175, 55, 0.2); /* brilho dourado */
}

.noticia h2 {
  color: #d4af37;
}

.noticia p {
  line-height: 1.6;
}

/* IMAGEM */
.noticia img {
  width: 100%;
  border-radius: 8px;
  margin: 10px 0;
}

/* ASIDE */
aside {
  float: right;
  width: 25%;
  background-color: #1a1a1a;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #5a0f1c;
}

aside h3 {
  color: #d4af37;
  margin-top: 0;
}

aside li {
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  clear: both;
  background-color: #5a0f1c;
  color: #d4af37;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

/* RESPONSIVO */
@media (max-width: 768px) {

  .conteudo,
  aside {
    float: none;
    width: 100%;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }

}